{% extends 'admins/adminbase.html' %}
{% load static %}

{% block content %}
    <center><h1 style="color: aliceblue;">Registered users</h1></center>

    <div style="overflow-x: auto; display: flex; justify-content: center;">
        <table style="border-collapse: collapse; color: aliceblue; background-color: #333; text-align: left; width: auto;">
            <thead>
                <tr>
                    <th style="padding: 10px; border: 1px solid #fff;">S.No</th>
                    <th style="padding: 10px; border: 1px solid #fff;">Name</th>
                    <th style="padding: 10px; border: 1px solid #fff;">Email</th>
                    <th style="padding: 10px; border: 1px solid #fff;">Phone Number</th>
                    <th style="padding: 10px; border: 1px solid #fff;">Address</th>
                    <th style="padding: 10px; border: 1px solid #fff;">Status</th>
                    <th style="padding: 10px; border: 1px solid #fff;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td style="padding: 10px; border: 1px solid #fff;">{{ forloop.counter }}</td>
                        <td style="padding: 10px; border: 1px solid #fff;">{{ item.name }}</td>
                        <td style="padding: 10px; border: 1px solid #fff;">{{ item.email }}</td>
                        <td style="padding: 10px; border: 1px solid #fff;">{{ item.phone_number }}</td>
                        <td style="padding: 10px; border: 1px solid #fff;">{{ item.address }}</td>
                        <td style="padding: 10px; border: 1px solid #fff;">{{ item.status }}</td>
                        <td style="padding: 10px; border: 1px solid #fff;">
                        {% if item.status == 'waiting' %}
                            <a href="{% url 'activate_user' item.id %}" class="btn btn-light">Approve</a>
                        {% else %}
                            <a href="{% url 'deactivate_user' item.id %}" class="btn btn-light">Reject</a>
                        {% endif %}
                        </td>   
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" style="padding: 10px; text-align: center; border: 1px solid #fff;">No data available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
